@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@layer base {
    html {
        font-family: Poppins, system-ui, sans-serif;
    }
    body {
        scroll-behavior: smooth;
    }
}

@layer components {
    .body-linear {
        /* background: linear-gradient(107deg, #CDDBEF 0.79%, #F9E6C1 100%); */
        background: linear-gradient(114deg, #DDB188 2.74%, #FBF4D1 93.53%);
    }
    .bg-nav {
        /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
        background: linear-gradient(107.16deg, #CDDBEF 0.79%, #F9E6C1 100%);
    }
    .bg-section-one {
        /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
        background: url("/assets/img/bg-section-11.png"), linear-gradient(107.16deg, #CDDBEF 0.79%, #F9E6C1 100%);
        /* background-size: contain; */
        background-repeat: no-repeat;
        mix-blend-mode: normal;
        /* background-position-y: 15%; */
        background-position: center;
        background-size: cover;
    }
    .bg-section-two {
        /* background: linear-gradient(107deg, #DB9C7E -8.86%, rgba(255, 221, 85, 0.18) 100%); */
        background: linear-gradient(114deg, #DDB188 2.74%, #FBF4D1 93.53%);
    }
    .bg-section-two-reduce-gradient {
        background: linear-gradient(138deg, #DB9C7E 88%, rgba(255, 221, 85, 0.18) 100%);
    }
    .bg-section-two-no-gradient {
        background: linear-gradient(138deg, #DB9C7E 100%, rgba(255, 221, 85, 0.18) 100%);
    }
    .bg-section-three {
        background: url("/assets/img/bg-section-3.png"), linear-gradient(107deg, #F9E6C1 0.79%, #CDDBEF 100%);
        background-size: cover;
        mix-blend-mode: normal;
        background-repeat: no-repeat;
    }
    /* .bg-evolution {
        background: url("/assets/img/img-section-2.png"), lightgray 50%;
        mix-blend-mode: darken;
        background-repeat: no-repeat;
        background-size: cover;
    } */
    .bg-section-four {
        background: url("/assets/img/bg-section-4.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
    .bg-section-five {
        background: url("/assets/img/bg-section-5.png"), linear-gradient(107deg, #CDDBEF 0.79%, #F9E6C1 100%);
        background-size: cover;
        mix-blend-mode: normal;
        background-repeat: no-repeat;
    }
    .bg-section-six {
        background: url("/assets/img/bg-section-6.png"), linear-gradient(105deg, #384B66 -0.06%, #CDDBEF 66.62%, rgba(255, 221, 85, 0.42) 97.12%);
        background-size: contain;
        mix-blend-mode: normal;
        background-repeat: no-repeat;
        background-position-y: 40%;
        /* background-attachment: fixed; */
    }
    .bg-parallax {
        background: url("/assets/img/bg-parallax.png");
        background-position: center;
        background-repeat: no-repeat;
        background-position-y: 7%;
        background-attachment: fixed;
        background-size: cover;
    }
    .reveal {
        position: relative;
        opacity: 0;
    }
    .reveal.active {
        opacity: 1;
    }
    .reveal.inactive {
        opacity: 0;
        @apply transition-all duration-300
    }
    .unreveal {
        position: relative;
        opacity: 1;
    }
    .unreveal.inactive {
        opacity: 0;
        @apply transition-all duration-[2500ms]
    }
    .inactive.fade-left-out {
        animation: fade-left-out 3s ease-in;
    }
    .active.fade-bottom {
        animation: fade-bottom 1s ease-in;
    }
    .active.fade-left {
        animation: fade-left 1s ease-in;
    }
    .active.fade-in-out {
        animation: fade-in-out 2s ease-in;
    }
    .active.fade-right {
        animation: fade-right 1s ease-in;
    }
    .wiper {
        mix-blend-mode: darken;
        /* background-image: url(assets/img/img-evolution1.png); */
        background-repeat: no-repeat;
        mask-image: linear-gradient(
            to left,
            transparent 47.5%,
            #fff 52.5%
        );
        -webkit-mask-image: linear-gradient(
            to left,
            transparent 47.5%,
            #fff 52.5%
        );
        mask-size: 210%;
        -webkit-mask-size: 210%;
        mask-position: right;
        -webkit-mask-position: right;
        opacity: 0;
    }
    .wipe-left {
        opacity: 1;
        mask-position: left;
        -webkit-mask-position: left;
        transition: -webkit-mask-position 4s linear;
    }
    .wipe-gone {
        opacity: 0;
        @apply transition-all duration-[2500ms]
    }
    @keyframes fade-in-out {
        0% {
            transform: scale(0);
            opacity: 0;
        }
        50% {
            transform: scale(1.05);
            opacity: 0.5;
        }
        100% {
            transform: scale(1);
            opacity: 1;
        }
    }
    @keyframes fade-bottom {
        0% {
            transform: translateY(50px);
            opacity: 0;
        }
        50% {
            opacity: 0.5;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
    @keyframes fade-left-out {
        0% {
            transform: translateX(0);
            opacity: 1;
        }
        50% {
            opacity: .5;
        }
        100% {
            transform: translateX(100px);
            opacity: 0;
        }
    }
    @keyframes fade-left {
        0% {
            transform: translateX(-100px);
            opacity: 0;
        }
        50% {
            opacity: 0.5;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }
    @keyframes fade-right {
        0% {
            transform: translateX(100px);
            opacity: 0;
        }
        50% {
            opacity: 0.5;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }
}
